header {
    transition: all 0.5s ease; 
  }
  
  .header-small {
    height: 2.5rem; 
    transition: all 0.5s ease;
  }
  
  .header-small img {
    height: 2rem; 
    transition: all 0.5s ease;
  }
  
  .header-small h1 {
    font-size: 1.5rem; 
  }