<footer
  class="footer bg-fondo-footer bg-center border-t-[#3c393d] border-[5px] text-white py-4 border-b-[#3c393d] border-solid"
>
  <div class="container mx-auto flex flex-col items-center bg-transparent">
    <p class="mb-4 text-sm">
      Copyright &copy; {{ anyoActual }}, todos los derechos reservados La biblio
      del nigromante
    </p>

    <div class="flex space-x-4">
      <a
        href="https://github.com/killerzero337"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-blue-400"
      >
        <div class="relative w-10 h-10 flex items-center justify-center">
          <div
            class="absolute inset-0 bg-white rounded-md opacity-40 blur-[2px]"
          ></div>
          <img
            src="github.svg"
            class="relative w-12 h-12 z-10"
            alt="Twitter logo"
          />
        </div>
      </a>
      <a
        href="https://x.com/killerzero37"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-blue-400"
      >
        <div class="relative w-10 h-10 flex items-center justify-center">
          <div
            class="absolute inset-0 bg-white rounded-md opacity-40 blur-[2px]"
          ></div>
          <img
            src="X_logo_2023.svg"
            class="relative w-8 h-8 z-10"
            alt="Twitter logo"
          />
        </div>
      </a>
    </div>
  </div>
</footer>
