.bg-header-image2 {
    position: relative;
  }
  
  .bg-header-image2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: solid 5px #3c393d;
    z-index: 1;
  }
  
  #patata:active {
    color: black;
  }
  
  /* Clase base para el enlace */
  .nav-link {
    text-decoration: none;
  }
  
  /* Botón con imagen de fondo y ajustes generales */
  .nav-button {
    background-image: url("/fondo_boton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 4rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
  }
  
  .nav-button-active {
    height: 4rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/fondo_boton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.5);
    transition: ease-in-out 1s;
  }
  
  .nav-button-active::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(61, 61, 61, 0.3); /* Color del resplandor */
    filter: blur(15px); /* Desenfoque más suave */
    z-index: -1;
    opacity: 0.8; /* Opacidad inicial */
    transition: opacity 1s ease-in-out; /* Transición más lenta */
  }
  
  .nav-text {
    color: rgb(61, 61, 61);
    position: relative;
    z-index: 1;
  }
  .nav-button:hover {
    filter: brightness(90%) contrast(90);
  }
  
  .nav-button-active {
    filter: brightness(150%);
  }
  
  .nav-button.active:hover {
    filter: brightness(35%);
  }
  